{% extends "shared/_layout.html" %}
{% load sorl_thumbnail %}
{% load render_partial %}

{% block title %}

{% endblock %}

{% block content %}
    <section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
						</ol>

						<div class="carousel-inner">

							{% for sliders in slider %}
							    <div class="item {% if forloop.first %} active {% endif %}">
								<div class="col-sm-6">
									<h1><span> مجموعه</span> لیان</h1>
									<h2>{{ sliders.title }}</h2>
                                    <p>{{ sliders.description }}</p>
									<a href="{{ sliders.url }}" class="btn btn-default get">{{ sliders.url_title }}</a>
								</div>
								<div class="col-sm-6">
{#									<img src="{{ sliders.images.url }}"#}
{#                                         target = "_blank"#}
{#                                         class="girl img-responsive" alt="" />#}
                                    {% thumbnail sliders.images "484x441" quality=80 crop='center' as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
								</div>
							</div>
							{% endfor %}




						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				{% render_partial "home_module.views.PopularListView" %}
				<div class="col-sm-12 padding-right">
					{% render_partial "home_module.views.ProductListView" %}
				</div>

			</div>
		</div>
	</section>
{% endblock %}