{% extends "shared/_layout.html" %}
{% load thumbnail %}
{% block title %}
    عکس
{% endblock %}

{% block content %}
{#    <div class="blog-post-area">#}
{#        <div class="single-blog-post">#}
{#            <div class="post-meta">#}
{#            </div>#}
{#            <a href="">#}
{#							<img src="{{ images.image.url }}" alt="">#}
{#                {% thumbnail images.images "650x350" quality=100 crop='big' as big %}#}
{#                    <img src="{{ big.url }}">#}
{#                {% endthumbnail %}#}
{#            </a>#}
{#        </div>#}
{#       </div>#}
{#    <div style="display: flex;justify-content: center;align-items: center;height: 100vh">#}
{#        {% thumbnail images.images "700x700" %}#}
{#            <img src="{{ big.url }}">#}
{#            alt="{{ images.images }}">#}
{#        {% endthumbnail %}#}
{#    </div>#}
     <div style="display: flex;justify-content: center;align-items: center;height: 100vh">
    {% thumbnail images.images "600x600" quality=80 crop='center' as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
     </div>
{% endblock %}
