{% extends "shared/_layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="/static/images/product-details/1.jpg" alt="">
								<h3>بزرگنمایـی</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">



								  <!-- Controls -->
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="/static/images/product-details/new.png" class="newarrival" alt="">
								<div>
									<h2>کـالای شمـاره 010</h2>
									<p>شناسـه : 0110110</p>
								</div>
								<div>
									<span>
										<span>قیمت : 2.350.000 ريال</span>
									</span>
									<span>
										<label>تعداد :</label>
										<input type="text" value="3" class="search_box">
										<button type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											افـزودن به سبـد خریـد
										</button>
									</span>
								</div>
								<div>
									<p><b>موجـودی :</b> در انبـار موجود می باشد</p>
									<p><b>شرایـط :</b> جدیـد</p>
									<p><b>برنـد :</b> برنـد </p>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="tab-content">
							<div class="tab-pane fade" id="details">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="/static/images/home/gallery.jpg" alt="">
												<h2>1.250.000 ريال</h2>
												<p>توضیحات کوتاه محصول</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</button>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div><!--/category-tab-->
				</div>
			</div>
		</div>
            </div>
	</section>
{% endblock %}