{% load sorl_thumbnail %}
<div class="features_items"><!--RetailSale_items-->
						<a href="{% url "product_list2" %}"><h2 class="title text-center">محصولات</h2></a>
						<div id="new-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
						    {% for products in product %}
						        <div class="item active">
							<div class="col-sm-3">
								<div class="product-image-wrapper">
									<div class="single-products">
											<div class="productinfo text-center">
{#												<img src="{{ products.images.url }}" alt="" />#}
                                                {% thumbnail products.images "268x250" quality=80 crop='center' as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                                <h3>{{ products.title }}</h3>
												<h2>{{ products.price }}</h2>
												<p>{{ products.description }}</p>
											</div>
									</div>
									<div class="choose">
										<ul class="nav nav-pills nav-justified">

											<li><a href="{{ products.get_absolute_url }}"><i class="fa fa-plus-square"></i>نمایش</a></li>
										</ul>
									</div>
								</div>
							</div>
						    {% endfor %}

						</div>
					</div>
					</div>
					</div><!--RetailSale_items-->