{% load render_partial%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}<title>صفحه اصلی | فروشگاه کارزیبا</title>{% endblock %}
    {% include "shared/header_refrences.html" %}
</head><!--/head-->
<body>
	{% render_partial "home_module.views.HeaderComponent" %}
	{% block content %}{% endblock %}
	{% render_partial "home_module.views.FooterComponent" %}
    {% include "shared/footer_refrences.html" %}
</body>
</html>